@media (max-width: 480px) {
    .wrapper {
        max-width: 82%;
        margin: 0 auto;
        padding-top: 2vw;
        header {
            font-family: $gilroy-bold;
            display: flex;
            align-items: center;
            a {
                img {
                    width: 15vw;
                    height: auto;
                    margin: 0 auto;
                }
            }
            .menu {
                display: none;
            }
            .actions {
                display: none;
            }
        }
        .main-banner {
            margin-top: 2vw;
            display: flex;
            flex-direction: column;
            
            .inner-banner {
                margin-top: 5.5vw;
                h1 {
                    font-family: $gilroy-Xbold;
                    font-size: 4.1vw;
                    line-height: 4.7vw;
                    color: #002A48;
                }
                h2 { 
                    font-family: $gilroy-bold;
                    font-size: 3.1vw;
                    line-height: 4.1vw;
                    color: #002A48;
                }
                p {
                    font-family: $gilroy-medium;
                    font-size: 1vw;
                    color: #242B33;
                    line-height: 1.6vw;
                    margin-top: 1.3vw;
                    padding-right: 16vw;
                }
            }
        .banner-buttons {
            display: flex;
            margin-top: 2.7vw;
            font-family: $gilroy-medium;
            font-size: 1vw;
            line-height: 1.6vw;
            .blue-btn:last-child {
                width: 9vw;
                font-size: 1.1vw;
                text-align: center;
                padding: 0vw 1.5vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        img {
            position: relative;
            right: 2vw;
            min-width: 33vw;
        }
        }
    }
}